{% extends "layout.html" %}

{% block scripts %}
<script src="/static/scripts/DragAndDrop.js" defer></script>
{% endblock %}

{% block content %}
<div id="error">
    <p>{{ error }}</p>
</div>

<div class="row">
    <div class="col-md-2">
        <dl>
            <dt>Username</dt>
            <dd>{{ my_opt.name }}</dd>
            <dt>Number of columns</dt>
            <dd>{{ my_opt.num_column }}</dd>
            <dt>Number of colours</dt>
            <dd>{{ my_opt.num_colour }}</dd>
            <dt>Allow duplicate colours</dt>
            <dd>{{ "No" if my_opt.unique else "Yes" }}</dd>
        </dl>
    </div>

    <div class="col-md-{{ (my_opt.num_column + 1) // 2 }} tab-in">
        {% for i in range(my_pf._field|length) %}
        <div class="row {{ i }}" id="{{ "active-row" if loop.last }}">
            {% for a in range(my_pf._field[i]|length) %}
            <div class="cell {{ a }} {{ "correctplaced" if my_pf._response[i][a] == 'black' }} {{ "insecretcode" if my_pf._response[i][a] == 'white' }}">
                {% if my_pf._field[i][a] != 0 %}
                <div id="{{ my_pf._field[i][a] }}">
                    <i class="gg-twilio"></i>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div id="form-container" class="col-md-2">
        <ul>
            <li><a href="/nextround/">Next round</a></li>
            <li><a href="/reset/">reset</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
    </div>
</div>

<div id="colours" class="draggable">
    {% for i in range(my_pf.colours|length) %}
    <div draggable="true" id="{{ my_pf.colours[i] }}"><i class="gg-twilio"></i></div>
    {% endfor %}
</div>


{% endblock %}