{% extends "layout.html" %}

{% block scripts %}
    <script src="/static/scripts/DragAndDrop.js"></script>
{% endblock %}

{% block content %}

<section id="play-grid">
    {% for _ in range(10) %}
    <div class="row">
        {% for __ in range(10) %}
        <div class="cell">x</div>
        {% endfor %}
    </div>
    {% endfor %}
</section>

<div id="colours" class="draggable">
    <div draggable="true" id="red"><i class="gg-twilio"></i></div>
    <div draggable="true" id="blue"><i class="gg-twilio"></i></div>
    <div draggable="true" id="green"><i class="gg-twilio"></i></div>
    <div draggable="true" id="yellow"><i class="gg-twilio"></i></div>
    <div draggable="true" id="orange"><i class="gg-twilio"></i></div>
    <div draggable="true" id="brown"><i class="gg-twilio"></i></div>
</div>

{% endblock %}