{% extends "layout.html" %}

{% block scripts %}
<script src="/static/scripts/DragAndDrop.js" defer></script>
{% endblock %}

{% block content %}
<div id="error">
    <p>{{ my_pf.secretcode }}</p>
    <p>{{ error }}</p>
    <p>{{ my_pf._response }}</p>
    <p>{{ my_pf._field[-1] }}</p>
</div>
<section id="play-grid">
    {% for i in range(my_pf._field|length) %}
    <div class="row {{ i }}" id="{{ "active-row" if loop.last }}">
        {% for a in range(my_pf._field[i]|length) %}
        <div class="cell {{ a }}">
            {% if my_pf._field[i][a] != 0 %}
            <div id="{{ my_pf._field[i][a] }}">
                <i class="gg-twilio"></i>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>

<div id="colours" class="draggable">
    <div class="twilio-row">
        {% for i in range(my_pf.colours|length) %}
        {% if i != 0 and i % 3 == 0 %}
    </div><div class="twilio-row">
        {% endif %}
        <div draggable="true" id="{{ my_pf.colours[i] }}"><i class="gg-twilio"></i></div>
        {% endfor %}
    </div>
</div>

<div id="form-container">
    <form method="post" action="/nextround/">
        <input type="submit" value="Next round" />
    </form>
    <form method="post" action="/reset/">
        <input type="submit" value="reset" />
    </form>
</div>

{% endblock %}